<main>
  <div class="container">
    <div class="row">
      <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
        <h1 class="top-title">Film Diary</h1>
        <h3 class="top-introduction">
          映画をより楽しむ、映画好きと繋がる、映画を記録する。<br>
          映画好きが映画好きと繋がり、作品1つ1つの解釈の幅が広がるサイトです。
        </h3>
        <div id="slider">
          <!--画像スライダーのイメージ画像-->
            <%= image_tag 'jake-hills-23LET4Hxj_U-unsplash.jpg' %>
            <div class="position-relative">
              <%= image_tag 'chris-murray-YvPxyGzaFJ4-unsplash.jpg', class: 'chris-murray-image' %>
            </div>
            <%= image_tag 'noom-peerapong-2uwFEAGUm6E-unsplash.jpg' %>
        </div>
      </div>
    </div>
  </div>
</main>
