<main>
  <div class="container">
    <div class="row">
      <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
        <h1 class="top-title">Film Diary</h1>
        <section class="top-introduction">
          <h3>楽しむ、繋がる、記録する。</h3>
          <!--<p>映画好きが映画好きと繋がり、作品1つ1つの解釈の幅が広がるサイトです。</p>-->
          <p>人と繋がり映画lifeをより良いものに、、、</p>
        </section>
        <div id="slider">
          <!--画像スライダーのイメージ画像-->
            <%= image_tag 'jake-hills-23LET4Hxj_U-unsplash.jpg' %>
            <div class="position-relative">
              <%= image_tag 'chris-murray-YvPxyGzaFJ4-unsplash.jpg', class: 'chris-murray-image' %>
            </div>
            <%= image_tag 'noom-peerapong-2uwFEAGUm6E-unsplash.jpg' %>
        </div>
      </div>
    </div>
  </div>
</main>
