/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'slick';
@import 'slick-theme';

main {
    background-image: image-url("jakob-owens-CiUR8zISX60-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.row {
    background-color: rgba( 230, 230, 230, 0.6);
}

.actions {
    margin-top: 10px;
}

.slick-next {
    right: 10px !important;
    z-index: 100;
 }

.slick-prev {
    left: 10px !important;
    z-index: 100;
 }

#slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
    object-position: center;
  img {
    width: 100%;
  }
}

.top-title {
    text-align: center;
}

.top-introduction {
    text-align: center;
    margin:0 auto;
}

.chris-murray-image{
    /*background-size: cover;*/
    position:absolute;
    top: -100px;
}

.page {
    color: yellow;
    padding: 0px 10px;
}