// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-title {
  font-size: 100px;
  margin: 0 auto;
}

.top-introduction {
  width: 400px;
  // margin: 0 auto;
  margin-top: auto;
  font-family: 'Kosugi Maru', sans-serif;
  margin-top: 30px;
}


