// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-7{
  margin-top: 10px;
}

.col-md-4 {
  margin-top: 10px;
}

.col-md-12 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.movie-item {
  margin-right: 20px;
}

.form_group {
  margin-top: 10px;
}